.dropdown-menu {
  background: rgb(255, 7, 7);
  width: 200px;
  position: absolute;
  top: 40px;
  list-style: none;
  text-align: start;
  z-index: 1000; /* Adjust the value as needed, it should be higher than other elements */
}

  
  .dropdown-menu li {
    background: rgb(31, 30, 30);
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #a8a8a8;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #1888ff;
    padding: 16px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }