
body {
    font-family: sans-serif;
}
.wrapper {
    display: flex;
    flex-flow:row wrap;
    text-align: center;
}

.wrapper > * {
padding: 10px;
margin: 10px;
flex: 1 100%;
border-radius: 10px;
}

p{
    color: white;
}
.header {
    background: #212121;
    height: 120px;
}

.container-status{
    background:  rgb(19, 19, 19);
    height: 120px;
}

.container-history{
    background:  rgb(19, 19, 19);
    height: 120px;
}
