.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* {added} */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* Add other global styles as needed */
}

/* Add your responsive styles here */
@media (max-width: 768px) {
  /* Responsive styles for screens up to 768px width */
  /* Example: Adjust font size or margins for smaller screens */
  body {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  /* Responsive styles for screens up to 480px width */
  /* Example: Adjust font size or margins for even smaller screens */
  body {
    font-size: 12px;
  }
}